
.container{
	height: 500px;
	width: 100%;
	background-color: #ff66cc;
	text-align: center;
	color:white;
}

.head1{
	background-color: #ff66cc;
}

.head{
	height: 500px;
	width:300px;
	background-color: #000066;
	float:left;
	margin-left: 180px;

}
.div1{
	height:300px;
	width:300px;
	background-color: orange;
	float:left;
	margin-top: 200px;
}
.div2{
	height:900px;
	width:300px;
	background-color: skyblue;
	float:left;
	position: absolute;
	margin-top: 200px;
	margin-left: 800px;
	overflow: auto;
}
.div3{
	height:300px;
	width:300px;
	background-color: orange;
	float:left;
	margin-top: 200px;
	position:relative;
	margin-left: 300px;
}

.div4{
	position:absolute;
	top:0;
	right:0;
	padding-top: 80px;
	margin-right: 280px;
	
}

img{
	/*width:300px;
	height:300px;
	margin-top: 150px;*/
	border-radius:50%;

}

.requirements{
	text-align: justify;
	margin-left: 200px;
	line-height: 30px;
	margin-right: 800px;
	padding-top: 100px;
	float:left;
	clear:left;
	position: absolute;
}

.zen{
	clear:left;
	float:right;
	position: relative;
	margin-top: 70px;
	width:260px;
	margin-right: 370px;
	line-height: 25px;
}

.about{
	background-image: url('download-1.jpg');
	margin-top: 400px;
	width:auto;
	height:1000px;
}

.participation{
	position: absolute;
    top: 130;
    height: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255,0.5);
    z-index: 10;
}

.aboutintro{
	position: absolute;
    top: 200;
    height: 60%;
    width: 50%;
    margin-top: 150px;
    color:white;
    background-color: rgba(0, 51, 102 ,0.9);
    z-index: 10;
}

.benefits{
	width: 300px;
    height: 700px;
    line-height: 20px;
    position: relative;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -20px;
    background-color: #00ffff;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
}

.required1{
	position: absolute;
    top: 260;
    height: 700px;
    width: 60%;
}

.requiredmiddle{
	width: 400px;
    height: 700px;
    line-height: 20px;
    position: relative;
    text-align: left;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    text-align: center;
    z-index: 11;
    margin-left: -200px;
}

.requiredmiddle2{
	width: 280px;
    height: 700px;
    line-height: 20px;
    position: absolute;
    text-align: left;
    top: 2410px; 
    left: 90%;
    margin-top: -10px;
    text-align: center;
    z-index: 11;
    margin-left: -350px;
}

.footer{
	width:100%;
	height:1500px;
}

.foo1{
	background-color: #ff99ff; 
	width:18%; 
	height:1500px; 
	margin-top: -205px;
}

.foo2{
	background-color: #003366; 
	width:18%; 
	height:800px;
	float:left; 
	margin-top:-1500px; 
	margin-left: 287px;
}

.foo3{
	background-color: orange;
	width:18%;
	height:450px;
	float:left; 
	margin-top:-1150px; 
	margin-left: 546px;
}

.foo4{
	background-color: skyblue;
	width:18%;
	height:1150px;
	margin-top:-1150px; 
	margin-left: 805px;
}

.foo5{
	background-color: orange;
	width:18%;
	height:450px;
	float:left; 
	margin-top:-1150px; 
	margin-left: 1065px;
}